body {
    background-color: yellow;
  }

  #heal1, #heal2, #heal3, #tenday, #vaccineButton, #quarantine2, #supDoc, .doctor2plusShow, #animalAnswer {
    display: none;
  }

  #news_report {
    display: none;
  }

  
  #infectionlevel {
    font-size: 25px;
  }